body {
	background-color:white;
}
#wrapper{
	width:1000px;
	margin:0 auto;
	background-color:orange;
	text-align:center;
}
table {
	text-align:center;
	width:100%
}
th {
  height:50px;
  }

td {
	vertical-align: bottom;
}

h1{
	font-size: 50px;
}
p{
	margin-top: -15px;
}
